<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blue_light_1.png</key>
			<dict>
				<key>width</key>
				<integer>706</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>706</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>blue_light_2.png</key>
			<dict>
				<key>width</key>
				<integer>705</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>705</integer>
				<key>originalHeight</key>
				<integer>108</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>blue_light_3.png</key>
			<dict>
				<key>width</key>
				<integer>704</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>704</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>blue_light_4.png</key>
			<dict>
				<key>width</key>
				<integer>706</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>706</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>blue_light_5.png</key>
			<dict>
				<key>width</key>
				<integer>706</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>706</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>blue_light_6.png</key>
			<dict>
				<key>width</key>
				<integer>704</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>704</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>blue_light_7.png</key>
			<dict>
				<key>width</key>
				<integer>705</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>705</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>blue_light_8.png</key>
			<dict>
				<key>width</key>
				<integer>705</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>705</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>750</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>blueLightAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>blueLightAnimation0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>