<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>red_light_1.png</key>
			<dict>
				<key>width</key>
				<integer>712</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>712</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>red_light_2.png</key>
			<dict>
				<key>width</key>
				<integer>709</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>709</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>red_light_3.png</key>
			<dict>
				<key>width</key>
				<integer>719</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>719</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>red_light_4.png</key>
			<dict>
				<key>width</key>
				<integer>720</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>red_light_5.png</key>
			<dict>
				<key>width</key>
				<integer>716</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>716</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>431</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>red_light_6.png</key>
			<dict>
				<key>width</key>
				<integer>708</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>547</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>red_light_7.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>711</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>red_light_8.png</key>
			<dict>
				<key>width</key>
				<integer>715</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>715</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>765</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>redLightAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>redLightAnimation0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>